:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  // CHANGE THIS COLOR
  background-color: rgb(100, 219, 100);
}

h1 {
  display: flex;
  justify-content: center;
  color: darkblue;
}

h2 {
  display: flex;
  justify-content: center;
  font-size: 40px;
}
.lost {
  color: crimson;
}
.won {
  color: darkorchid;
}

.playing,
.new {
  display: none;
}

.whole .row {
  display: flex;
  justify-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: cornsilk;
  padding: 8px;
  height: 20px;
  width: 20px;
  border: solid 3px red;
}

.other {
  background-color: cornsilk;
}
.isEmpty {
  background-color: rgb(224, 209, 148);
}
.isFlag {
  background-color: blueviolet;
}

.isBomb {
  background-color: crimson;
}

.isFlaggedBomb {
  background-color: indianred;
}
