:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  // CHANGE THIS COLOR
  background-color: darkgreen;
}

h1 {
  display: flex;
  justify-content: center;
}

.whole {
  // display: flex;
  // justify-content: center;
  // display: wrap;
  // display: grid;
  // grid-template: repeat(8, 1fr) / repeat(8, 1fr);
  // gap: 2px;
  // background-color: blue;
  // margin: auto;
  // border: 2px solid blue;
}
.whole .row {
  display: flex;
  justify-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: cornsilk;
  padding: 8px;
  height: 20px;
  width: 20px;
  border: solid 3px red;
}

.other {
  background-color: cornsilk;
}
.isEmpty {
  background-color: rgb(224, 209, 148);
}
.isFlag {
  background-color: blueviolet;
}

.isBomb {
  background-color: crimson;
}

.isFlaggedBomb {
  background-color: indianred;
}
